<div class="card clickable-card" (click)="setIsQueuedForDeletion()"
     [class.mt-2]="!isQueuedForDeletion"
     [style.border]="isQueuedForDeletion ? 'solid' : ''"
     [style.border-color]="isQueuedForDeletion ? '#3b79de' : ''"
     [style.border-width]="isQueuedForDeletion ? '5px' : ''">
  <header class="card-header has-background-link-light">
    <p class="card-header-title">
      {{note.title}}
    </p>
    <button class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </header>
  <div class="card-content">
    <div class="content">
      <div *ngIf="note.content">
        {{note.content}}
      </div>
      <div *ngIf="note.listItems">
        <app-swift-note-list-display [listItems]="note.listItems"></app-swift-note-list-display>
      </div>
      <br>
      Saved On: <time>{{getFormattedSavedDate()}}</time>
    </div>
  </div>
  <footer class="card-footer">
    <a routerLink="/note/{{note.id}}" class="card-footer-item">Edit</a>
    <a (click)="deleteNoteEventEmitter.emit(note.id)" class="card-footer-item">Delete</a>
  </footer>
</div>
