<div class="control">
  <div class="field has-addons">
    <p class="control">
      <input class="input" type="text" placeholder="List Item" [(ngModel)]="listItem">
    </p>
    <p class="control">
      <a class="button" (click)="addListItem()">
        Add Item
      </a>
    </p>
  </div>
  <div class="box" *ngIf="listItems.length > 0">
    <div class="columns is-multiline">
      <div class="column is-6" *ngFor="let li of listItems; index as i">
        <div class="tags has-addons mb-1">
          <span class="tag is-link">{{li}}</span>
          <a class="tag is-delete" (click)="removeListItem(i)"></a>
        </div>
      </div>
    </div>
  </div>
</div>
