<!-- Main container -->
<nav class="level">
  <!-- Left side -->
  <div class="level-left">
    <div class="level-item">
      <p class="subtitle is-5">
        <strong>{{numberOfNotes}}</strong> notes
      </p>
    </div>
    <div class="level-item">
      <div class="field has-addons">
        <p class="control">
          <input class="input" type="text" placeholder="Search notes" [formControl]="searchInput">
        </p>
        <p class="control">
          <button class="button is-info is-light" (click)="searchNotes()">
            Search
          </button>
        </p>
      </div>
    </div>
  </div>

  <!-- Right side -->
  <div class="level-right">
    <p class="level-item"><a class="button is-light is-danger" (click)="deleteQueuedNotesEmitter.emit()">Delete Selected</a></p>
  </div>
</nav>
