<div class="section">
  <h1 class="title has-text-centered">Manage Your Swift Note</h1>
  <div class="columns is-centered">
    <div class="column is-6">
      <form [formGroup]="createNoteForm">
        <div class="field">
          <label class="label">Title</label>
          <div class="control">
            <input class="input" type="text" placeholder="Title" formControlName="title">
            <p class="help is-danger"
               *ngIf="isFormControlInValid('title')">
              Title is required.
            </p>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <span class="label">Content Type</span>
            <label class="radio">
              <input type="radio" formControlName="contentType" value="TEXT" (change)="resetNoteFormContent()">
              Text
            </label>
            <label class="radio">
              <input type="radio" formControlName="contentType" value="LIST" (change)="resetNoteFormContent()">
              List
            </label>
          </div>
        </div>
        <div class="field">
          <label class="label">Content</label>
          <div class="control" *ngIf="createNoteForm.controls['contentType'].value == 'TEXT'">
            <textarea class="textarea" placeholder="Add your note content here" formControlName="content"></textarea>
            <p class="help is-danger"
               *ngIf="createNoteForm.controls['contentType'].value == 'TEXT' && isFormControlInValid('content')">
              At least one list item required.
            </p>
          </div>
          <app-swift-note-list-add *ngIf="createNoteForm.controls['contentType'].value == 'LIST'"
                                   [listItems]="note && note.listItems ? note.listItems : []"
                                   (listItemsChangedEmitter)="setListItems($event)">
          </app-swift-note-list-add>
          <p class="help is-danger"
             *ngIf="createNoteForm.controls['contentType'].value == 'LIST' && listItems.length == 0">
            At least one list item required.
          </p>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" [disabled]="!isValid()" (click)="saveNote(false)">Save</button>
          </div>
          <div class="control">
            <button class="button is-link is-light" [disabled]="!isValid()" (click)="saveNote(true)">Save and add another</button>
          </div>
          <div class="control">
            <button class="button" routerLink="">Cancel</button>
          </div>
        </div>
      <app-note-notification-tag [isSuccess]="isSuccess" (isSuccessEmitter)="setIsSuccess($event)">
      </app-note-notification-tag>
      </form>
    </div>
  </div>
</div>
